# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET
*.user
*.suo
*.userosscache
*.sln.docstates
project.lock.json
*.nuget.props
*.nuget.targets
.nuget/

# IDE
.vscode/
.vs/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Rider
.idea/
